a.out
*_test
*.o
*.~
cscope.*
liblsp.*
select
poll
writev
epoll
inode
block
fork
wait
system
daemon
affinity
resource
thread
withdraw
xattr
mstat
signal
clocks
prime
access
time
id
ls
find
sh
client
server
httpd
netlink
journal
