a.out
*_test
*.o
*.~
cscope.*
liblsp.a
writev
select
poll
epoll
inode
block
wait
system
daemon
affinity
resource
thread
withdraw
xattr
mstat
clocks
prime
ls
fork
access
time
find
id
sh
server
httpd
netlink
