a.out
*_test
*.o
*.~
cscope.*
liblsp.a
select
poll
writev
epoll
inode
block
fork
wait
system
daemon
affinity
resource
thread
withdraw
xattr
mstat
clocks
prime
ls
access
time
find
id
sh
client
server
httpd
netlink
